@model List<Stock>

@{
    var inputList = ViewBag.InputList as IEnumerable<dynamic>;
    var outputList = ViewBag.OutputList as IEnumerable<dynamic>;
    var sortedModel = Model.OrderBy(u => u.Date).ToList();
}

<div class="container pb-4 d-flex flex-column align-items-center">
    <div class="row py-4 d-flex justify-content-between align-items-center">
        <div class="col-auto">
            <h2 class="text-primary mb-0">
                Stock List
            </h2>
        </div>
        <div class="col">
            <h2 style="visibility: hidden;">
                -------
            </h2>
        </div>
        <div class="col-auto">
            <a asp-controller="Stock" asp-action="ExportToExcel" class="btn btn-success mx-2">
                <i class="bi bi-file-earmark-excel"></i> Export to Excel
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-striped w-auto">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Unit Cost</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in sortedModel)
                {
                    bool isInput = inputList.Any(i => i.Date == obj.Date && i.TotalCost == obj.TotalCost);
                    bool isOutput = outputList.Any(o => o.Date == obj.Date && o.TotalCost == obj.TotalCost);

                    <tr class="@(isInput ? "table-success" : isOutput ? "table-danger" : "")">
                        <td>@obj.Date.ToString("dd/MM/yyyy")</td>
                        <td>@obj.Amount</td>
                        <td>C$ @obj.UnitCost</td>
                        <td>
                            C$ @obj.TotalCost
                            <i class="@(isInput ? "bi bi-plus-circle" : isOutput ? "bi bi-dash-circle" : "")"></i>
                        </td>
                    </tr>
                }

                <tr>
                    <th><strong>Total</strong></th>
                    <td>@ViewBag.TotalSum</td>
                    <td></td>
                    <td>C$ @ViewBag.TotalAmout.ToString("0.00")</td>
                </tr>
            </tbody>
        </table>
    </div>
